iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAABSklEQVR42u3awQ3CMAyFYabhxJEhGIABGIAJ2ICtuVUI0sRxnlP/VaUcUfw+AU2T+PR8vdHjdADSAG73xzLOl2vOsSRsAHIavuO1AdkMP9lMgDyG/2AFQPFzGQzFVGVAQsNanlVAKkMlSQ2QxFDP0ABsbmhWbwM2NFjqmgCbGIwVrYDJBnutDsA0Q1eVPsAEQ+/83YBQg2NmDyDI4JvTCZAb3LP5AULDyDxDAIlhcIZRwGCCcb8A4M4h+QVqAI40qv+PDNCVSfgEUwKMybTPXzGgmU++AuoBlZQR63cIYC1rxBtUFMBikFQJBNQNqhKxgAn7h+Mb2Ot/gP0UYq8D7JWY/S7Efhtl7wfYOzL2nph9KsE+F2KfzLHPRtmn0+z7AfYNDfuOjH1Lyb4nZt/Us3sl2N0q7H4hdscWvmdub12LvL7Ro3f6ALjGBxeoWi0tHmU2AAAAAElFTkSuQmCC
